@import "../../Styles/Variables";

.text-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  @include respond-to("medium") {
    max-width: 80%;
  }
  @include respond-to("large") {
    max-width: 80%;
  }
}
