@import "../../Styles/Breakpoints";

.list-container {
  display: grid;
  grid: 1fr;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  margin-top: 3em;
  @include respond-to("medium") {
    grid-template-columns: 1fr 1fr;
  }
  @include respond-to("xlarge") {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
  }
}
