@import "../../Styles/_Variables.scss";

.services-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  text-align: center;
  li {
    padding: 20px;
    a {
      padding: 20px;
      //   color: $red;
      text-decoration: underline;
    }
  }
}
