@import "../../Styles/Variables";

.gallery-flex {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@include respond-to("large") {
  .gallery-flex {
    flex-direction: row;
  }
  .gallery-flex > div {
    min-width: 50%;
    max-width: 50%;
  }
}
